<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>magasin.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>Supermarche</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>magasin.ListenerSupermarche</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Basket</display-name>
    <servlet-name>Basket</servlet-name>
    <servlet-class>magasin.Basket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Basket</servlet-name>
    <url-pattern>/Basket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>magasin.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manage</display-name>
    <servlet-name>Manage</servlet-name>
    <servlet-class>magasin.Manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manage</servlet-name>
    <url-pattern>/Manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticle</display-name>
    <servlet-name>AddArticle</servlet-name>
    <servlet-class>magasin.AddArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticle</servlet-name>
    <url-pattern>/Manage/AddArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateArticle</display-name>
    <servlet-name>UpdateArticle</servlet-name>
    <servlet-class>magasin.UpdateArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateArticle</servlet-name>
    <url-pattern>/Manage/UpdateArticle</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterManage</display-name>
    <filter-name>FilterManage</filter-name>
    <filter-class>magasin.FilterManage</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterManage</filter-name>
    <url-pattern>/Manage/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>